.sign-up {
    display: flex;
    flex-direction: column;
    width: 380px;
    font-size: x-large;
    font-family: 'Open Sans Condensed', sans-serif;
  
    .title {
      margin: 10px 0;
    }
  }
  