.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    font: bold;
    font-family: 'Open Sans Condensed', sans-serif;
    
    
    
  
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 25px;
    }
    

    
  
    .options {
      width: 25%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        width: 25%;
        font-size: 15px;;
        padding: 10px 15px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;
      }
    }
  }